html {
  background-color: RGB(247, 247, 247);
  color: RGB(70, 70, 70); }

h1, p, h2, h3, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: RGB(128, 128, 128); }

.button, .DeleteGroup, .PostGroup, .SubmitGroup, .inactive-submit, .inactive-submit:hover, .active-submit, .johari-cancel {
  padding: 8px 11px;
  margin: 8px 0;
  display: block;
  width: 80px;
  color: RGB(85, 114, 179);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: 1px solid RGB(85, 114, 179);
  transition: 300ms; }
  .button:hover, .DeleteGroup:hover, .PostGroup:hover, .SubmitGroup:hover, .inactive-submit:hover, .active-submit:hover, .johari-cancel:hover {
    transition: 300ms;
    border: 1px solid RGB(20, 36, 72);
    background-color: RGB(128, 171, 217);
    color: RGB(20, 36, 72); }

.Admin {
  position: absolute;
  left: 253px;
  padding: 20px; }
  .Admin a {
    color: RGB(85, 114, 179);
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    line-height: 24px;
    font-size: 18px; }
  .Admin a:hover {
    color: RGB(20, 36, 72); }

.Sidebar {
  width: 250px;
  border-right: 2px solid RGB(230, 230, 230);
  position: fixed;
  top: 0;
  bottom: 0; }
  .Sidebar h1 {
    font-size: 24px;
    margin: 20px;
    text-shadow: RGBA(255, 255, 255, 0.7) 1px 1px 0; }
  .Sidebar .sidebar-user-info {
    position: fixed;
    bottom: 15px;
    left: 20px; }

.Sidebar .sidebar-links {
  margin: 20px; }
  .Sidebar .sidebar-links a {
    color: RGB(85, 114, 179);
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    line-height: 24px;
    font-size: 18px; }
  .Sidebar .sidebar-links a:hover {
    color: RGB(20, 36, 72); }

html {
  background-color: #efefef;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

.DeleteGroup {
  text-decoration: none;
  color: RGB(219, 69, 69);
  border-color: RGB(219, 69, 69);
  text-align: center; }

.DeleteGroup:hover {
  color: #fff;
  background-color: RGB(219, 69, 69);
  border-color: RGB(219, 69, 69);
  cursor: pointer; }

.Group {
  border: 2px solid RGB(230, 230, 230);
  border-top: 1px solid RGB(230, 230, 230);
  border-bottom: 1px solid RGB(230, 230, 230);
  padding-left: 5px;
  width: 200px; }

.PostGroup {
  background-color: #fff;
  border-color: RGB(2, 94, 2);
  width: 140px; }
  .PostGroup a {
    text-decoration: none;
    color: RGB(2, 94, 2); }

.PostGroup:hover {
  background-color: RGB(2, 94, 2);
  border-color: RGB(2, 94, 2); }
  .PostGroup:hover a {
    color: #fff; }

.GroupList {
  position: absolute;
  left: 903px;
  padding: 20px; }

label {
  line-height: 30px;
  vertical-align: center; }

.Student {
  width: 300px;
  display: inline-block; }

input[type=checkbox] {
  margin-right: 8px;
  height: 15px;
  width: 15px;
  line-height: 24px; }

input[type=checkbox]:checked + label {
  color: RGB(85, 114, 179);
  font-weight: bold; }

.SubmitGroup {
  background-color: #fff;
  border-color: RGB(85, 114, 179);
  text-decoration: none;
  color: RGB(85, 114, 179);
  text-align: center;
  width: 100px; }
  .SubmitGroup:hover {
    background-color: RGB(85, 114, 179);
    cursor: pointer;
    color: #fff; }

.StudentLineup {
  position: absolute;
  left: 253px;
  top: 0;
  bottom: 0;
  padding: 20px;
  width: 600px;
  border-right: 2px solid RGB(230, 230, 230); }

label {
  line-height: 30px;
  vertical-align: center; }

.Adjective {
  width: 300px;
  display: inline-block; }

input[type=checkbox] {
  margin-right: 8px;
  height: 15px;
  width: 15px;
  line-height: 24px; }

input[type=checkbox]:checked + label {
  color: RGB(85, 114, 179);
  font-weight: bold; }

.inactive-submit, .inactive-submit:hover {
  color: RGB(128, 128, 128);
  background-color: RGB(230, 230, 230);
  border-color: RGB(128, 128, 128);
  text-align: center; }

.active-submit {
  background-color: #fff;
  border-color: RGB(85, 114, 179); }
  .active-submit a {
    text-decoration: none;
    color: RGB(85, 114, 179); }

.active-submit:hover {
  background-color: RGB(85, 114, 179);
  border-color: RGB(85, 114, 179); }
  .active-submit:hover a {
    color: #fff; }

.Johari {
  position: absolute;
  left: 253px;
  padding: 20px; }

.johari-cancel {
  text-decoration: none;
  color: RGB(219, 69, 69);
  border-color: RGB(219, 69, 69);
  text-align: center; }

.johari-cancel:hover {
  color: #fff;
  background-color: RGB(219, 69, 69);
  border-color: RGB(219, 69, 69); }

.Assignee {
  line-height: 30px; }

.Assignee.incomplete-assignee {
  line-height: 30px; }
  .Assignee.incomplete-assignee a {
    text-decoration: none;
    color: RGB(85, 114, 179); }
  .Assignee.incomplete-assignee a:hover {
    color: RGB(20, 36, 72);
    text-decoration: underline; }

.Assignee.completed-assignee {
  color: RGB(128, 128, 128); }

.Assignee {
  font-size: 18px;
  line-height: 24px; }

.incomplete-asignee {
  font-color: #777; }

.completed-asignee {
  font-color: #333;
  background-color: #eee; }

a {
  text-decoration: none; }

.Main {
  position: absolute;
  left: 253px;
  padding: 20px; }

.johari-window-adjective {
  color: RGB(70, 70, 70);
  line-height: 24px;
  width: 150px;
  display: inline-block;
  text-align: left; }

.MyWindow {
  position: absolute;
  left: 253px;
  padding: 20px; }

.johari-window {
  background-color: #fff; }
  .johari-window table {
    border-collapse: collapse; }
  .johari-window td {
    height: 350px;
    width: 350px;
    border: 2px solid RGB(230, 230, 230); }
  .johari-window td.johari-windowpane-title {
    vertical-align: top;
    text-align: center;
    color: RGB(102, 102, 102); }

.NoMatch {
  position: absolute;
  left: 253px;
  padding: 20px; }
